################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/QtProgressThread/QtProgressThread/x64/Debug/qmake
/QtProgressThread/QtProgressThread/x64/Debug
/.vs
/QtProgressThread/QtProgressThread/QtProgressThread.vcxproj.user
/QtProgressThread/x64/Debug
/QtProgressThread/.vs/QtProgressTest/v16
